version: "3.0"

services:
  db:
    image: postgres:14.1-alpine
    volumes:
      - .docker/db:/var/run/postgresql/data
    env_file:
      - .env

  api:
    build:
      context: .
      dockerfile: ${PWD}/.docker/django/Dockerfile
    volumes:
      - .:/home/vicsite/app/
    env_file:
      - .env
    command: python manage.py runserver 0.0.0.0:8000
    depends_on:
      - db
    ports:
      - 8000:8000
    restart: always

volumes:
  postgres_data:


networks:
  default:
    external:
      name: nginx-proxy
