[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
coreapi = "*"
pyyaml = "*"
gunicorn = "*"
pillow = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"
django-cors-headers = "*"
django-heroku = "*"
django-googledrive-storage = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
