[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
djangorestframework = "*"
coreapi = "*"
pyyaml = "*"
gunicorn = "*"
pillow = "*"
djoser = "*"
whitenoise = "*"
django-cors-headers = "*"
django-heroku = "*"
cloudinary = "*"
django-environ = "*"
django-richtextfield = "*"
django-ckeditor = "*"

[dev-packages]

[requires]
python_version = "3.10"
