[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==5.1.2"
gunicorn = "*"
pillow = "*"
whitenoise = "*"
cloudinary = "*"
django = "==4.0"
django-cors-headers = "*"
django-environ = "*"
django-richtextfield = "*"
django-ckeditor = "*"
python-decouple = "*"
requests = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
