<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
</head>
<body>
    <div class="h-screen grid items-center justify-center">


        <section class="bg-white rounded-md shadow-md w-96 mx-auto  my-auto p-6"> 
            <div class="h-32 grid justify-center">
                <img src="{% static 'img/logo-img.png' %}" alt="" >
            </div>

            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-6 font-medium">


                    <div>
                        <label class="text-gray-700" for="id_login">Username</label>
                        {{ form.username }}
                    </div>
                    
                    <div>
                        <label class="text-gray-700" for="id_password">Password</label>
                        {{ form.password }}
                    </div>

                    <div>
                        <label for="id_remember">Remember Me:</label>
                        <input type="checkbox" name="remember" id="id_remember">
                    </div>

                </div>
                <div class="grid pt-4 mt-2 justify-center">
                    <button class="px-6 py-2 bg-gray-700 rounded-md text-white font-medium focus:outline-none focus:bg-gray-600 hover:bg-gray-600 w-full">Submit</button>
                </div>
            </form>
            <p class="font-normal pt-3">Don't have an account? <a href="{% url 'signup' %}" class="text-sky-500">Register</a></p>
        </section>
    </div>
</body>
</html>