{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | AvaloqsAssets</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    {% if form.errors %}
    <!-- Error Message  -->
    <div x-data="{ showAlert: true }" class="grid justify-end w-auto mt-5 absolute top-0 right-0">
        <div
          x-cloak
          x-show="showAlert"
          x-init="setTimeout(() => showAlert = false, 3000)"
          class="relative p-6 overflow-hidden bg-white shadow-md text-red-600 font-medium rounded-lg"
          role="alert"
        >
          <span class="absolute inset-x-0 top-0 h-1.5 bg-red-300"></span>
          {% if form.errors.name %}
          <div>
            <strong class="text-sm font-medium">{{ form.errors.name }}</strong>
          </div>
          {% elif form.errors.email %}
          <div>
            <strong class="text-sm font-medium">{{ form.errors.email }}</strong>
          </div>
          {% elif form.errors.password %}
          <div>
            <strong class="text-sm font-medium">{{ form.errors.password }}</strong>
          </div>
          {% elif form.errors.firstname %}
          <div>
            <strong class="text-sm font-medium">{{ form.errors.firstname }}</strong>
          </div>
          {% elif form.errors.lastname %}
          <div>
            <strong class="text-sm font-medium">{{ form.errors.lastname }}</strong>
          </div>
          {% elif form.errors.phone %}
          <div>
            <strong class="text-sm font-medium">{{ form.errors.phone }}</strong>
          </div>
          {% elif form.non_field_errors %}
          <div>
            <strong class="text-sm font-medium">{{ form.non_field_errors }}</strong>
          </div>
          {% endif %}

        </div>
    </div>
    {% endif %}
    <div class="h-screen flex items-center justify-self-center">
        

        <section class="bg-white rounded-md drop-shadow-md p-6 w-10/12 max-w-4xl mx-auto my-auto">  
            <div class="h-32 grid justify-center">
                <img src="{% static 'img/logo-img.png' %}" alt="" >
            </div>

            <form method="POST" action={% url 'signup' %}>
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 font-medium">

                    <div>
                        <label class="text-gray-700" for="firstname">Firstname</label>
                        <!-- <input type="text" class="block w-full border border-gray-200 rounded-md py-2 px-4 mt-2 focus:border-blue-400 focus:ring-blue-300 focus:ring focus:outline-none focus:ring-opacity-30" placeholder="Enter Firstname"> -->
                        {{ form.firstname }}
                    </div>

                    <div>
                        <label class="text-gray-700" for="lastname">Lastname</label>
                        <!-- <input type="text" class="block w-full border border-gray-200 rounded-md py-2 px-4 mt-2 focus:border-blue-400 focus:ring-blue-300 focus:ring focus:outline-none focus:ring-opacity-30" placeholder="Enter Lastname"> -->
                        {{ form.lastname  }}
                    </div>

                    <div>
                        <label class="text-gray-700" for="phone">Phone</label>
                        <!-- <input type="tel" class="block w-full border border-gray-200 rounded-md py-2 px-4 mt-2 focus:border-blue-400 focus:ring-blue-300 focus:ring focus:outline-none focus:ring-opacity-30" placeholder="Enter Phone Number"> -->
                        {{ form.phone }}
                    </div>

                    <div>
                        <label class="text-gray-700" for="email">Email</label>
                        <!-- <input type="email" class="block w-full border border-gray-200 rounded-md py-2 px-4 mt-2 focus:border-blue-400 focus:ring-blue-300 focus:ring focus:outline-none focus:ring-opacity-30" placeholder="Enter Email"> -->
                        {{ form.email }}
                    </div>

                    <div>
                        <label class="text-gray-700" for="occupation">Sex</label>
                        <!-- <input placeholder="Select your occupation" type="text" class="block w-full border border-gray-200 rounded-md py-2 px-4 mt-2 focus:border-blue-400 focus:ring-blue-300 focus:ring focus:outline-none focus:ring-opacity-30"> -->
                        {{ form.sex }}
                    </div>
                    
                    <div>
                        <label class="text-gray-700" for="occupation">Occupation</label>
                        <!-- <input placeholder="Select your occupation" type="text" class="block w-full border border-gray-200 rounded-md py-2 px-4 mt-2 focus:border-blue-400 focus:ring-blue-300 focus:ring focus:outline-none focus:ring-opacity-30"> -->
                        {{ form.occupation }}
                    </div>
                    
                    <div>
                        <label class="text-gray-700" for="password">Password</label>
                        <!-- <input placeholder="Enter Password" type="password" class="block w-full border border-gray-200 rounded-md py-2 px-4 mt-2 focus:border-blue-400 focus:ring-blue-300 focus:ring focus:outline-none focus:ring-opacity-30"> -->
                        {{ form.password1 }}
                    </div>
                    <div>
                        <label class="text-gray-700" for="confirmpassword">Confirm Password</label>
                        <!-- <input placeholder="Enter Password" type="password" class="block w-full border border-gray-200 rounded-md py-2 px-4 mt-2 focus:border-blue-400 focus:ring-blue-300 focus:ring focus:outline-none focus:ring-opacity-30"> -->
                        {{ form.password2 }}
                    </div>

                </div>
                <div class="grid pt-4 mt-2 justify-center">
                    <button class="px-6 py-2 bg-gray-700 rounded-md text-white font-medium focus:outline-none focus:bg-gray-600 hover:bg-gray-600 w-full">Submit</button>
                </div>
            </form>
            <div class="flex space-x-4 text-sky-500 justify-center mt-4">
              <p><a href="{% url 'signup' %}">Register</a></p>
              <p><a href="{% url 'login' %}">Login</a></p>
              <p><a href="{% url 'forgot_password' %}">Forgot Password</a></p>
            </div>
        </section>

    </div>


    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>
</html>