{% extends 'base.html' %}

{% load static %}

{% block title %}Password Change | Dashboard{% endblock title %}

{% block pagetitle %}Password Change{% endblock pagetitle %}

{% block content %}

<form method="POST" action="{% url 'password_change' %}">
    {% csrf_token %}
    <!-- fields  -->
    <div class="grid grid-cols-1 gap-10 sm:grid-cols-2 font-medium">

        <div>
            <label for="id_old_password">Old Password</label>
            {{ form.old_password }}
        </div>

        <div>
            <label for="id_new_password1">New Password</label>
            {{ form.new_password1 }}
        </div>

        <div>
            <label for="id_new_password2">Confirm Password</label>
            {{ form.new_password2 }}
        </div>

        <div></div>

        <div class="font-medium mt-10">
            <input class="w-32 text-center text-white font-medium block bg-[#6675FF] py-4 px-4 rounded-md" type="submit" value="Save">
        </div>
</form>

<script src="{% static 'js/profile_edit.js' %}"></script>
{% endblock content %}
