{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirm | Avaloqsasset</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    {% if form.errors %}
    <!-- Error Message -->
      <div x-data="{ showAlert: true }" class="grid w-auto mt-5 absolute top-0 right-0">
        <div
            x-cloak
            x-show="showAlert"
            x-init="setTimeout(() => showAlert = false, 5000)"
            class="relative p-6 overflow-hidden shadow-md text-red-600 bg-white rounded-lg text-sm"
            role="alert"
        >
            <span class="absolute inset-x-0 top-0 h-1.5 bg-red-300 animate-life"></span>

            {% if forms.errors.new_password1 %}
            <strong>{{ forms.errors.new_password1 }}</strong>
            
            {% elif forms.errors.new_password2 %}
            <strong>{{ forms.errors.new_password2 }}</strong>

            {% endif %}
            
        </div>
    </div>
    {% endif %}

    
      
    <div class="h-screen grid items-center justify-center">
        

        <section class="bg-white rounded-md shadow-md w-96 mx-auto  my-auto p-6"> 
            <div class="h-32 grid justify-center">
                <img src="{% static 'img/logo-img.png' %}" alt="" >
            </div>
            
            <div>

                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="grid grid-cols-1 gap-6 font-medium">
                        
                        <div>
                            <label class="text-gray-700" for="">New Password</label>
                            {% comment %} <input type="email" class="block w-full border border-gray-200 rounded-md py-2 px-4 mt-2 focus:border-blue-400 focus:ring-blue-300 focus:ring focus:outline-none focus:ring-opacity-30" placeholder="New Password"> {% endcomment %}
                            {{ form.new_password1 }}
                        </div>
                        
                        <div>
                            <label class="text-gray-700" for="">Confirm Password</label>
                            {% comment %} <input placeholder="Enter Password" type="password" class="block w-full border border-gray-200 rounded-md py-2 px-4 mt-2 focus:border-blue-400 focus:ring-blue-300 focus:ring focus:outline-none focus:ring-opacity-30" placeholder="Confirm Password"> {% endcomment %}
                            {{ form.new_password2 }}
                        </div>

                    </div>
                    <div class="grid pt-4 mt-2 justify-center">
                        <button class="px-6 py-2 bg-gray-700 rounded-md text-white font-medium focus:outline-none focus:bg-gray-600 hover:bg-gray-600 w-full">Submit</button>
                    </div>
                </form>

            </div>
            
            
            <div class="flex space-x-4 text-sky-500 justify-center mt-4">
                <p><a href="{% url 'signup' %}">Register</a></p>
                <p><a href="{% url 'login' %}">Login</a></p>
                <p><a href="{% url 'forgot_password' %}">Forgot Password</a></p>
            </div>
        </section>

    </div>

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{% static 'js/profile_edit.js' %}"></script>
</body>
</html>