{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Complete | Avaloqsasset</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>

    
      
    <div class="h-screen grid grid-cols-1 items-center justify-center">
        

        <section class="bg-white w-3/6 mx-auto h-3/5  p-6"> 
            <div class="h-32 grid justify-center">
                <img src="{% static 'img/logo-img.png' %}" alt="" >
            </div>

            <div class="mb-5">
                <h1 class="text-center font-medium text-4xl">Password reset Complete</h1>
                <p class="text-center pt-2 text-gray-500">Your password has been set. You may go ahead and log in now.</p>
            </div>

            <div class="flex space-x-4 text-sky-500 justify-center mt-4">
                <p><a href="{% url 'signup' %}">Register</a></p>
                <p><a href="{% url 'login' %}">Login</a></p>
                <p><a href="{% url 'forgot_password' %}">Forgot Password</a></p>
            </div>
        </section>
    </div>

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>
</html>