{% extends 'base.html' %}

{% load static %}

{% block title %}Charts | Dashboard{% endblock title %}

{% block pagetitle %}Charts{% endblock pagetitle %}

{% block content %}
<div class="h-[80vh] bg-white">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div id="tradingview_a3414" class="h-[80vh]"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSD/?exchange=COINBASE" rel="noopener" target="_blank"><span class="blue-text">BTCUSD Chart</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
        new TradingView.widget(
        {
        "autosize": true,
        "symbol": "COINBASE:BTCUSD",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "withdateranges": true,
        "hide_side_toolbar": false,
        "allow_symbol_change": true,
        "details": true,
        "container_id": "tradingview_a3414"
    }
        );
        </script>
    </div>
    <!-- TradingView Widget END -->

</div>
{% endblock content %}