{% extends 'base.html' %}

{% load static %}

{% block title %}Deposit | Dashboard{% endblock title %}

{% block pagetitle %}Deposit{% endblock pagetitle %}

{% block content %}
<div class="rounded-xl h-[80vh] font-medium bg-slate-50/100">
    <section class="p-20">
        <form method="POST" action="{% url 'deposit' %}">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-10 sm:grid-cols-2">

                <div class="">
                    <label class="text-gray-700" for="packagecategory">Package Category</label>
                    {{ form.package }}
                    <!-- <select class="block w-full border border-blue-400 py-4 px-4 mt-3 focus:border-blue-500 focus:ring-blue300 focus:ring focus:outline-none focus:ring-opacity-30" name="packagecategory" id="">
                        <option value="basic">Basic</option>
                        <option value="normal">Normal</option>
                        <option value="advance">Advance</option>
                        <option value="premium">Premium</option>
                    </select> -->
                </div>

                <div>
                    <label class="text-gray-700" for="cointype">Coin Type</label>
                    {{ form.coin }}
                    <!-- <select class="block w-full border border-blue-400 py-4 px-4 mt-3 focus:border-blue-500 focus:ring-blue300 focus:ring focus:outline-none focus:ring-opacity-30" name="cointype" id="">
                        <option value="btc">Bitcoin</option>
                        <option value="eth">Ethereum</option>
                        <option value="trx">Tron</option>
                        <option value="xrp">Ripple</option>
                    </select> -->
                </div>

                <div>
                    <label class="text-gray-700" for="walletaddress">Wallet Address</label>
                    {{ form.company_wallet_address }}
                    <!-- <input class="block w-full border border-blue-400 py-4 mt-3 px-4 focus:border-blue-500 focus:ring-blue300 focus:ring focus:outline-none focus:ring-opacity-30" type="text" id="country" name="walletaddress" value="jakjaergjqergjiernqjrtbjert" readonly> -->
                </div>

                <div>
                    <label class="text-gray-700" for="amount">Amount</label>
                    {{ form.amount }}
                    <!-- <input class="block w-full border border-blue-400 py-4 mt-3 px-4 focus:border-blue-500 focus:ring-blue300 focus:ring focus:outline-none focus:ring-opacity-30" type="number" name="amount" id=""> -->
                </div>

                <div class="">
                    <label class="text-gray-700" for="imagefield">Image Field</label>
                    {% comment %} {{ form.proof }} {% endcomment %}
                    <!-- <input class="block bg-white w-full border border-blue-400 py-4 mt-3 px-4 focus:border-blue-500 focus:ring-blue300 focus:ring focus:outline-none focus:ring-opacity-30" type="file" name="deposit proof" id=""> -->
                </div>

                <!-- divider  -->
                <div>

                </div>

                <div>
                    <button class="w-64 text-white font-medium block bg-[#6675FF] py-4 px-4 rounded-md">
                        Deposit
                    </button>
                </div>
            </div>
        </form>
    </section>
</div>

{% endblock content %}